@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text-purple {
  background: linear-gradient(45deg, #ff00ff, #ff00ff, #ff66ff, #ff00ff);
  background-size: 200% 200%;
  animation: gradientFlow 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-green {
  background: linear-gradient(45deg, #00ff00, #00ff00, #66ff66, #00ff00);
  background-size: 200% 200%;
  animation: gradientFlow 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text {
  background: linear-gradient(45deg, #ff00ff, #ff00ff, #00ff00, #00ff00);
  background-size: 200% 200%;
  animation: gradientFlow 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.announcement-banner {
  background: linear-gradient(90deg, #ff00ff, #ff1493, #ff69b4, #ff00ff);
  background-size: 200% 200%;
  animation: gradientFlow 5s ease infinite;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-weight: 500;
}

